body {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

#grid {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 200px));
    grid-template-rows: repeat(3, minmax(100px, 200px));
}

div[data-column="1"],
div[data-column="2"] {
    border-right: solid 8px black;
}

div[data-row="1"],
div[data-row="2"] {
    border-bottom: solid 8px black;
}

.cell {
    font-size: 200px;
    text-align: center;
    color: gray;
}