body {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    background-color: rgb(224, 219, 213)
}

#grid {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 200px));
    grid-template-rows: repeat(3, minmax(100px, 200px));
}

div[data-column="1"],
div[data-column="2"] {
    border-right: solid 8px black;
}

div[data-row="1"],
div[data-row="2"] {
    border-bottom: solid 8px black;
}

.cell {
    font-size: 200px;
    text-align: center;
    color: gray;
}

dialog[open] {
    display: grid;
    border-radius: 1rem;
    top: 35%;
    height: 20%;
    width: 30%;
    position: fixed;
    justify-items: center;
    align-items: center;
    box-shadow: 0.25rem 0.25rem 1rem rgb(49, 49, 49);
}

#winner-message {
    font-size: 3rem;
}

#restart {
    border-radius: 0.5rem;
    border: solid 3px;
    font-size: 2rem;
    background-color: white;
}

#restart:hover {
    background-color: rgb(224, 219, 213);
    cursor: pointer;
}